#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(47,49,47);
  /* background-image: url('./Assets/Background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%; */
}
#my_timeslines {
  /* min-height: 100vh; */
  background-color: rgb(47,49,47);
}

#topbar {
  /* flex: 1.25; */
  /* background-color: pink; */
}
#visualization {
  flex: 0.5;
  /* background-color: aqua; */
}
#eventSlider{

}
#footer {
  /* background-color: navy; */
  /* flex: 1.75; */
}
div[role=slider] {
  background-color: black;
}

.canvasHandle {
	flex: 1;
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
}

.canvasHandle .canvasHandleControl {
	cursor: pointer; 
	height: 25px; 
	width: 25px;
	position: absolute;
	top: 3px;
	right: 5px;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s linear, visibility 0.2s linear;
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
}

.canvasHandle:hover .canvasHandleControl{
	visibility: visible;
	opacity: 1;
}

.optionsBtn {
	position: relative;
}

.optionsBtn .optionsMenu {
	list-style: none;
	position: absolute;
	background-color: aliceblue;
	border: 1px solid lightblue;
	border-radius: 10px;
	z-index: 20001;
	bottom: 100%;
	padding: 10px 10px 0 10px;
	width: 250px;
	margin-bottom: 5px;
	font-weight: bold;
	display: none;
}

.optionsBtn.showOptions .optionsMenu {
	display: block;
}

.optionsBtn .optionsMenu li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.optionsBtn .optionsMenu li > .toggleBtn {
	cursor: pointer;
	width: 40px;
	height: 20px;
	display: inline-block;
	border: 1px solid rgb(180, 179, 179);
}


/* .csv-reader-input {
  background-color: violet;
}
.csv-input {
  background-color: pink;
} */
/* styles to normalize vis */
	.vis-item{
		background-color:rgb(255,255,255,0) !important;
		border-color:rgb(255,255,255,0) !important;
		border-width:0px !important;
		text-align: left !important;
		white-space:pre-wrap !important;
	}
	.vis-item .vis-box{
		text-align: left !important;
		border-style: none !important;
		border-radius: 0px !important;
	}
	.vis-item .vis-selected{
		border-color:rgb(255,255,255,0) !important;
		background-color:rgb(255,255,255,0) !important;
	}
	.vis-item .vis-item-content{
		white-space:pre-wrap !important;
	}
	.vis-major, .vis-minor{
		font-family:"Quantico"
	}
